#====================================================
#                 .env | .env.test
#====================================================
# Backend URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
# Site domain used to create metaData
NEXT_PUBLIC_DOMAIN=test.site
# Analytics - Umami Website SRC and ID
NEXT_PUBLIC_UMAMI_SRC=http://localhost:3003/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
# =================================================
#                .env.test
# =================================================
# Used locally in TEST configuration - to sign JWT - generate in Powershell: -join ((1..32 | ForEach-Object { "{0:X2}" -f (Get-Random -Maximum 256) })).ToLower()
JWT_SECRET_KEY=
# Used locally in TEST configuration - database URL with credentials
DATABASE_URL=postgresql://postgres:password@localhost:5432/testDb